*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: Arial;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.imgs2{
    display: flex;
}

.imgs{
    display: flex;
}

.h1{
    margin-left: 50px;

}

.subti{
    margin-left: 40px;
    width: 400px;
    padding: 20px;
    color: gray;
}

.part1{
    padding: 30px;
}

.h3{
    color: gray;
}

.part2{
    padding: 60px;
}

.ensa{
    padding: 60px;
}

.h4{
    color: gray;
}

.part3{
    padding: 90px;
}

.h5{
    color: gray;
}

.part4{
    padding: 85px;
}

.h6{
    color: gray;
}

.img1{
    margin-top: 30px;
    height: 300px;
    width: 533.33px;
    border-radius: 10px;
}

.img2{
    margin-top: 30px;
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.img3{
    margin-top: 30px;
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.img4{
    margin-left: -40px;
    margin-top: 35px;
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.menu{
    list-style: none;
    padding: 0;
    background-color: rgb(128, 125, 125);
    width: 90%;
    max-width: 900px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color: rgb(127, 230, 31);
}
.container{
    max-width: 900px;
    margin: auto;
}
.footer{
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
    margin: 10px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}
.footer-links{
    width: 100%;
    height: 200px;
    padding: 5px;
}
.footer-links h4{
    padding: 5px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: 80;
    padding-bottom: 30px;
    display: inline-block;
}
.footer-links ul li a{
    font-size: 50px;
    text-decoration: none;
    color: #f5f3f3;
    display: block;
    margin-bottom: 50px;
    transition: all .3s ease;
}
.footer-links ul li a:hover{
    color: #993535;
    padding-left: 100px;
}
.social-link a{
    display: inline-block;
    min-height: 100px;
    width: 100px;
    background-color: rgba(87, 69, 69, 0.2);
    margin: 0 50px 50px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 70%;
    color: rgb(3, 3, 3);
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #3ac235;
}
@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}